
<div class="content-body">
    <div class="navbar navbar-expand-lg">
        <div class="navbar-brand">
          <p style=" cursor: pointer;">FoodMart</p>
        </div>
        <div class="nav-fields">
          <div class="row">
              <div class="col-sm-1">
                <span class="material-symbols-outlined"> login </span>
              </div>
              <div class="col-sm-3">
                <h5 style="margin-left: 3px ; cursor: pointer;" routerLink="./login">login</h5>
              </div>
            </div>
          <div class="row">
            <div class="col-sm-1">
              <span class="material-symbols-outlined"> local_mall </span>
            </div>
            <div class="col-sm-3">
              <h5 style="margin-left: 3px">Cart</h5>
            </div>
          </div>
        </div>
      </div>
      
      
      <app-list></app-list>


























</div>

